.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btn {
  margin: 12px;
  transition: transform 0.3s;
}

.btn:hover,
.btn:focus {
  border-color: #ffa500;
  transform: scale(1.1);
}
