.btn {
  width: 90px;
  height: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  border: 2px solid #555;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
  padding: 10px 20px;
  transition: transform 0.3s;
}

.btn:hover,
.btn:focus {
  border-color: #ffa500;
  transform: scale(1.1);
}
.btnwrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding-top: 12px;
}