#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* background: linear-gradient(to bottom right, #CCCCCC, #999999); */
/* background: radial-gradient(circle, #CCCCCC, #999999); */
/* @keyframes gradientAnimation {
    0% { background-color: #CCCCCC; }
    50% { background-color: #5d6a45; }
    100% { background-color: #a3a3a3; }
  }
  
 body {
    animation: gradientAnimation 10s infinite;
  } 
  
  .background {
    width: 100%;
    height: 100vh;
  } */

body {
  background: linear-gradient(to bottom right, #cccccc, #6b8e23);
}
h1:hover,
h1:focus {
  color: #ffa500;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
