#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(to bottom right, #cccccc, #6b8e23);
}
h2:hover,
h2:focus {
  color: #ffa500;
}

a{
  color:#213547;
}
