.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 0;
  }
  
  .item {
    border-radius: 4px;
    border: 2px solid #555;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    width: 340px;
}
  .wrapper{

  }
  